body {
  font-family: 'Raleway';
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.about-section {
  padding: 50px 0px;
  background-color: #8e9c8b;
  color: white;
}

.about-section h1 {
  text-align: center;
}

.about-section p {
  text-align: justify;
}

.text-our {
  margin: 40px auto;
}

.text-closing {
  margin: 20px auto;
}

.closing p {
  font-size: 15px;
  margin-left: 20px;
  text-align: justify;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #8e9c8b;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}