@import url('https://fonts.googleapis.com/css?family=Dosis');

/* Brand Start */
.brand {
    text-align: center;
}

/* Brand End */

/* Navigasi Start */

.navbar {
    padding: 15px 0px;
    font-family: 'Dosis';
    font-size: 23px;
    background: white;
    border-bottom: 1px inset;
}

.navbar-brand {
    font-family: 'Dosis';
    font-size: 25px;
}

.nav-link {
    color: black !important;
    margin-right: 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    opacity: 0.7;
}

/* Navigasi End */

/* Caraousel Start */

.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-indicators {
    z-index: 999;
}


/* Caraousel End */

/* Welcome Start */
.welcome {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 50px;
}

.welcome .welcome-title hr {
    width: 150px;
    border-top: 1.5px solid #6b6a69;
    text-align: center;
    margin: auto;
}

.welcome .welcome-title {
    font-family: 'MS Madi';
    font-size: 72px;
    margin-bottom: 20px;
}

.welcome .welcome-title h1 {
    font-weight: bold;
}

.welcome .welcome-text {
    font-family: 'Raleway';
    margin: auto;
    text-align: justify;
}

/* Welcome End */

/* Order Start */
.order {
    background-color: #423F3E;
    font-family: 'Raleway';
    text-align: justify;
}

.order .order-left h1 {
    padding-top: 50px;
    text-align: start;
}

.order .order-right img {
    box-shadow: 35px 35px 0px 0px #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.order .order-left .btn:hover {
    background-color: #423F3E;
    color: #ffffff;
}

/* Order End */

.modal-body thead {
    color: white;
    background: #8e9c8b;
    border: none !important;
}

.modal-body button {
    background: #8e9c8b;
    color: white;
    transition: 500ms;
    opacity: 1;
}

.modal-body button:hover {
    opacity: 0.7;
    color: white;
}


/* Footer Start */
.footer {
    font-family: 'Raleway';
    color: rgb(255, 255, 255);
    background-color: #8e9c8b;
    padding-top: 2em;
    /* bottom: 0;
    position: absolute;
    width: 100%; */
}

.footer .container .Copyright {
    text-align: center;
    margin-top: 2em;
}

.footer .footer-social-item {
    text-decoration: none;
    color: #423F3E;
    font-size: 30px;
    margin-right: 1em;
}

.footer .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Footer End */